<div class="w-full h-full flex items-center justify-center">
  <div class="flex p-2 bg-gray-900 border border-slate-800 rounded-sm text-lg text-white xs:w-7/12 md:w-5/12 lg:w-4/12 xl:w-3/12 w-6/12 rounded-ss">
    <h1>MIXTAPE</h1>
  </div>
</div>
