@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'Fjalla';
    src: url('/fonts/FjallaOne-Regular.ttf');
}

body > div {
    height: 100%;
}

.search-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.296);
}

.search-list li:last-child {
    border-bottom: none;
}

#search-box {
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

#search-box.fade-in {
    opacity: 1;
    transform: translateX(0);
}

#search-box.fade-out {
    opacity: 0;
    transform: translateX(10%);
}

#search-box.hidden {
    display: none;
}

.search-item:hover .add-icon {
    @apply text-primary;
    @apply transition-transform;
    @apply duration-1000;
    @apply animate-rotateOnce;
}

.search-item:hover .remove-icon {
    color: red;
    transition-property: color, transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    transform: rotate(135deg);
    @apply hero-plus-circle;
    width: 2rem;
    height: 2rem;
}

.remove-icon {
    transition-property: color, transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    transform: rotate(0deg);
}

.artists-list li {
    border-bottom: none;
}

.artists-list li:last-child {
    border-bottom: 1px solid rgb(148 163 184);
}

.exit:hover span {
    @apply text-orange-500;
}

::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(2, 6, 23);        /* color of the tracking area */
  border-radius: 20px;       /* roundness of the scroll thumb */

}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.523);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 4px solid rgb(2, 6, 23);  /* creates padding around scroll thumb */
}

.generate-button {
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 0px rgb(2, 6, 23);
	cursor: pointer;
	overflow: hidden;
	background: #1ed760;
    border-radius: 50%;
	display: inline-flex;
	align-items: center;
    padding: 16px;
}

.generate-button:hover > span {
	color: rgb(255, 255, 255);
}

.tooltip {
    @apply invisible absolute;
  }
  
  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }
  