@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'Fjalla';
    /* Name your font family */
    src: url('/fonts/FjallaOne-Regular.ttf');
    /* Locate the .ttf file within your directory*/
}

/* This file is for your main application CSS */
body>div {
    height: 100%;
}

.search-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.296);
}

.search-list li:last-child {
    border-bottom: none;
}

#search-box {
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

#search-box.fade-in {
    opacity: 1;
    transform: translateX(0);
}

#search-box.fade-out {
    opacity: 0;
    transform: translateX(10%);
}

#search-box.hidden {
    display: none;
}

.search-item:hover #add-icon {
    @apply text-primary;
    @apply transition-transform;
    @apply duration-1000;
    @apply animate-rotateOnce;
}

.search-item:hover #remove-icon {
    color: red; 
    transition-property: color, transform;
    transition-duration: 0.8s; 
    transition-timing-function: ease-out; 
    transform: rotate(135deg); 
  }
  
  #remove-icon {
    transition-property: color, transform;
    transition-duration: 0.8s; 
    transition-timing-function: ease-out; 
    transform: rotate(0deg); 
  }